{% extends "base.html" %}


{% block body %}


    {% include 'header.html' %}

    {% include 'sidebar.html' %}

        <h1 class="page__title page__title--center">Вход</h1>

<form action="/" class="form form--auth" method="post">

    <div class="form__group form__group--md">
        <input type="email" class="form__control" placeholder="Введите e-mail">
        <span class="form__line"></span>
    </div>
    <div class="form__group form__group--md">
        <input type="password" class="form__control" placeholder="Пароль">
        <span class="form__line"></span>
    </div>

    <div class="form__footer form__footer--center">
        <div class="form__group form__group--md">
            <button class="btn btn--blue btn--rounded btn--sm" type="submit">Войти</button>
        </div>
        <ul class="form__footer-list">
            <li>
                <a href="/signup">Регистрация</a>
            </li>
            <li>
                <a href="/reset">Восстановить</a>
            </li>
        </ul>
    </div>

</form>

{% endblock %}